<!DOCTYPE html>
<html lang="pt_br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado da pesquisa</title>


    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/negocios.css">

</head>

<body>

    <div id="negocios">

        <header>
            <img src="/assets/img/new (1) (1).svg" alt="Logomarca">
            <a href="index.html">
                <span></span>
                Voltar para a Página Inicial
            </a>
        </header>

        <main>

            <h4>
                <strong>3 Negócios</strong> encontrados
            </h4>

            <div class="cards">
                <div class="card">
                    <img src="/assets/img/marcenaria2.jpg" alt="Marcenaria do João">
                    <h1>Loja do João</h1>
                    <h3>Materiais de Construção</h3>
                    <p>
                        Rio de Janeiro, Rio de Janeiro <br />
                        Favela da Rocinha<br />

                    </p>
                </div>
                <div class="card">
                    <img src="/assets/img/doces.jpg" Doces da Joana">
                    <h1>Doces da Joana</h1>
                    <h3>Alimentação</h3>
                    <p>
                        Rio de Janeiro, Rio de Janeiro <br />
                        Favela da Rocinha<br />

                    </p>
                </div>
                <div class="card">
                    <img src="/assets/img/artesanato2.jpg" alt="Loja da Maria">
                    <h1>Loja da Maria</h1>
                    <h3>Artesanato</h3>
                    <p>
                        Belo Horizonte, Minas Gerais <br />
                        Morro do Papagaio <br />

                    </p>
                </div>
            </div>

        </main>


    </div>
</body>

</html>